
$main-color: #1558E5;




.verifyForm{
  box-shadow: 0 0 60px rgba(0,0,0,0.1);
  padding: 40px 30px;
  
    button{
        width: 100% !important;
        border-radius: 0 !important;
        transition: all .3s ease-in-out !important;
        text-transform: uppercase !important;
        background-color: $main-color !important;
        &:hover{
            background-color: transparent !important;
            color: $main-color !important;
            border: 1px solid $main-color !important;
        }
    }
    .err{
        border: 1px solid red;
    }
}