<form [formGroup]="resetPasswordForm" class="w-50 m-auto my-4 myForm">
    <h2 class="text-main">Reset Password</h2>
    <!-- <div class="alert alert-danger" *ngIf="errMsg">
        <p class="m-0">{{errMsg}}</p>
    </div> -->

    <input type="email" placeholder="Email" formControlName="email" class="form-control"
        [class.err]="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched">
    <ul *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched">
        <li *ngIf="resetPasswordForm.get('email')?.getError('required')">This feild is required</li>
        <li *ngIf="resetPasswordForm.get('email')?.getError('email')">Enter a valid Email</li>
    </ul>

    <div class="showPassword">
        <input [type]="showPassword == true?'text':'password'" placeholder="Password" formControlName="newPassword"
            class="form-control" [class.err]="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched">
        <i *ngIf="!showPassword" (click)="showPassword = true" class="fas fa-eye main-color cursor-pointer"></i>
        <i *ngIf="showPassword" (click)="showPassword = false" class="fas fa-eye-slash main-color cursor-pointer"></i>
    </div>
    <ul *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched">
        <li *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">This feild is required</li>
        <li *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">Password must have at least 8 char includs one of (special char, uppercase, number)</li>
    </ul>

    <button [disabled]="resetPasswordForm.invalid" class="btn text-white" (click)="handleResetPassword(resetPasswordForm)">
        <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i>
        Reset Password
    </button>
</form>