<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="images/logo.png" alt="logo" class="img-fluid" width="150">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-home"></i> 62 Batavia , New York, US</li>
                    <li><i class="fas fa-phone"></i> +585 123 4567</li>
                    <li><i class="fas fa-envelope"></i> helpexample.com</li>
                    <li><i class="fas fa-clock"></i> Mon - Fri / 8:00 AM - 8:00 PM</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>information</h5>
                <ul class="list-unstyled">
                    <a href="#"><li>Products Returns</li></a>
                    <a href="#"><li>Terms Conditio</li></a>
                    <a href="#"><li>Contact Us</li></a>
                    <a href="#"><li>Support Center</li></a>
                    <a href="#"><li>Privacy Policy</li></a>
                    <a href="#"><li>Payment Methods</li></a>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>OUR COLLECTION</h5>
                <ul class="list-unstyled">
                    <a href="#"><li>Smartwatches & Fitness</li></a>
                    <a href="#"><li>Cameras & Photos</li></a>
                    <a href="#"><li>Laptop & Computers</li></a>
                    <a href="#"><li>Phones & Tablets</li></a>
                    <a href="#"><li>Television & Video</li></a>
                    <a href="#"><li>Consumer Electronics</li></a>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <a href="#"><li>Give €50. Get €50</li></a>
                    <a href="#"><li>Recalled Items</li></a>
                    <a href="#"><li>Order Tracking</li></a>
                    <a href="#"><li>Gift Receipt</li></a>
                    <a href="#"><li>How to Buy</li></a>
                    <a href="#"><li>Affiliate Program</li></a>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Download Our App</h5>
                <p>Download our application and enjoy a 20% discount for a full year</p>
                <img src="images/app-1.png" alt="app-1" class="img-fluid">
                <h5>Follow Us</h5>
                <ul class="list-unstyled d-flex justify-content-between align-items-center">
                    <a href="#"><li><i class="fab fa-facebook-f"></i></li></a>
                    <a href="#"><li><i class="fab fa-twitter"></i></li></a>
                    <a href="#"><li><i class="fab fa-linkedin-in"></i></li></a>
                    <a href="#"><li><i class="fab fa-instagram"></i></li></a>
                    <a href="#"><li><i class="fab fa-youtube"></i></li></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="text-center py-5 bg-dark">
    <img src="images/payments-method.png" alt="payments-method" class="img-fluid">
    <p class="m-0 mt-3 text-white">Digitek © 2024 by ThemeJR All Rights Reserved.</p>
</div>
<p-scrollTop icon="fas fa-chevron-up" styleClass="scrollTop"/>