.card{
    
    .border-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;

        i{
            color: #fff;
            font-size: 30px;
        }

        span.font-bold{
            font-weight: 700;
            color: #1e1e1e;

        }
    }
}