<div class="row row-cols-5 py-5" *ngIf="isLoading">
    <div *ngFor="let product of [0,1,2,3,4,5,6,7,8,9]" class="col mb-3">
        <p-skeleton width="100%" height="220px" styleClass="mr-2" />
        <p-skeleton width="90%" styleClass="my-2" />
        <p-skeleton width="50%" styleClass="my-2" />
        <p-skeleton width="40%" styleClass="my-2" />
        <div class="d-flex justify-content-between align-items-center w-100">
            <p-skeleton width="4rem" height="2rem" styleClass="my-2" />
            <p-skeleton shape="circle" size="2.5rem" styleClass="my-2" />
        </div>
    </div>
</div>
<div class="row row-cols-5 py-5">
    <div *ngFor="let product of allProducts; let i=index" class="col p-0">
        <div class="product p-2">
            <div class="wishlist-icon">
                <i class="far fa-heart" pTooltip="Add To Wishlist" tooltipPosition="left" tooltipStyleClass="Wishlist"
                    (click)="handleAddToWishlist(product._id, i)"
                    *ngIf="!addToWishlistLoading[i] && !wishlistProductsIds.includes(product._id)"></i>
                <i class="fas fa-check" *ngIf="wishlistProductsIds.includes(product._id)"></i>
                <i class="fas fa-spinner fa-spin" *ngIf="addToWishlistLoading[i]"></i>
            </div>
            <div class="image">
                <img [src]="product.images[1]" [alt]="product.title|getTwoWords" class="img-fluid">
                <img [src]="product.images[0]" [alt]="product.title|getTwoWords" class="img-fluid imageCover">
                <a [routerLink]="['/productDetails',product._id]">Quick View</a>
            </div>
            <span class="category">
                {{product.category.name}}, {{product.subcategory[0].name}}
            </span>
            <a [routerLink]="['/productDetails',product._id]">
                <h5>{{product.title|getTwoWords}}</h5>
            </a>
            <div class="rate">
                <i *ngFor="let i of [0,1,2,3,4]; let index=index" class="fas fa-star fa-sm star-color"
                    [class.star-color]="index < (product.ratingsAverage|parseInt)"></i>
            </div>

            <h6>
                <span>{{product.price|currency}}</span>
                <i class="fas fa-cart-shopping position-relative" pTooltip="Add To Cart" tooltipPosition="top"
                    (click)="handleAddToCart(product._id, i)" *ngIf="!addLoading[i]"></i>
                <i class="fas fa-spinner fa-spin" *ngIf="addLoading[i]"></i>
            </h6>
        </div>
    </div>
</div>