<form [formGroup]="forgetPasswordForm" class="w-50 m-auto my-4 myForm">
    <h2 class="text-main">Forget Password</h2>
    <!-- <div class="alert alert-danger" *ngIf="errMsg">
        <p class="m-0">{{errMsg}}</p>
    </div> -->

    <input type="email" placeholder="Email" formControlName="email" class="form-control"
        [class.err]="forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched">
    <ul *ngIf="forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched">
        <li *ngIf="forgetPasswordForm.get('email')?.getError('required')">This feild is required</li>
        <li *ngIf="forgetPasswordForm.get('email')?.getError('email')">Enter a valid email</li>
    </ul>

    <button [disabled]="forgetPasswordForm.invalid" class="btn text-white" (click)="forgetPassword(forgetPasswordForm)">
        <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i>
        Send Reset Code
    </button>
</form>